@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1000px;
  --border-width: 2px;

  --border-radius: 0.4rem;
  --padding: 1rem;
  --text-big: 2rem;

  --color-blue: #00a6fb;
  --color-link: #007dbc;
  --color-pink: #ff9aa2;
  --color-background: #cae9ff;
  --color-background-accent: none;
  --color-background-secondary: seashell;
  --color-accessible-purple: #81008a;
  --color-success: #e9fbe9;
  --color-info: #ebf3fe;
  --color-warning: #fcfaee;
  --color-danger: #fcebed;
}

@media (max-width: 500px) {
  :root {
    --text-big: 1.5rem;
  }
}

html {
  font-family: "Montserrat", -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: unset;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
ul {
  font-size: 1.1rem;
}

/* Jenny la til denne */
.indenterDisse {
  padding-left: 2rem;
}
/* --------------------------- */

@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }
}

svg {
  color: black;
}

:focus {
  outline: var(--color-accessible-purple) solid var(--border-width);
  outline-offset: 0.2rem;
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }

  :focus-visible {
    outline: var(--color-accessible-purple) solid var(--border-width);
    outline-offset: 0.2rem;
  }
}

.no-animations .nav {
  transition-duration: 0s;
}

.body {
  min-height: 100vh;

  display: flex;
  position: static;
  display: flex;
  flex-direction: column;

  background: var(--color-background);

  overflow-x: hidden;
}

.body__header {
  background-color: var(--color-background);
  width: 100%;

  padding: 1rem;

  flex: none;

  display: flex;
  justify-content: center;

  z-index: 1;

  border-bottom: var(--border-width) solid black;
}

.header__container {
  width: 100%;
  font-style: italic;
  font-weight: 700;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}

.body__footer {
  flex: none;
}

/* nav */

.logo {
  font-size: var(--text-big);
}

.logo:hover {
  text-decoration: underline;
}

.nav__links {
  display: flex;
  justify-content: center;

  list-style: none;

  gap: 1rem;
}

.nav__link .button {
  white-space: nowrap;
}

.hamburger__checkbox {
  display: none;
  transform: translateX(-10000px);
}

.nav__button--open {
  display: none;
  cursor: pointer;
}

.nav__button--close {
  display: none;
}

.hamburger__menu img {
  width: 100%;
  height: 100%;
}

.preload {
  /* opacity: 0 !important; */
  transition-duration: 0s !important;
}

@media (max-width: 650px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    inset: 0;
    transform: translateX(100%);

    overflow: hidden;
    z-index: 2;

    background: rgba(255, 255, 255, 30%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition-property: transform;

    transition-duration: 0.4s;
    transition-timing-function: ease;
  }

  .nav--visible {
    transform: translateX(0);
  }

  .nav__links {
    align-self: center;

    flex-direction: column;
    font-size: xx-large;

    width: fit-content;
  }

  .nav__links .button {
    display: block;
    align-self: stretch;
  }

  .nav__button {
    display: flex;
  }

  .nav__button--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

@media (prefers-reduced-motion) {
  .nav {
    transition-duration: 0s;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  .hamburger__checkbox:checked ~ .nav {
    background-color: rgba(255, 245, 238, 95%);
  }
}

.body__main {
  background-color: var(--color-background);

  flex: 1;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border__bottom {
  border-bottom: var(--border-width) solid black;
}

@media (hover: none) {
  .body-background {
    background-attachment: scroll;
  }
}

.body-background-secondary {
  background-color: var(--color-background-secondary);
}

.main__container {
  width: 100%;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 6rem var(--padding);

  position: relative;

  /* margin: 0 auto; */
}

.main__container--about {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 3rem;
}

.card {
  display: flex;

  background: white;

  border-radius: var(--border-radius);
  /* border: var(--border-width) solid black; */

  overflow: hidden;

  box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
}

/* .card:nth-child(2n) .card__image {
  order: 1;
} */

.card__image {
  flex: 0 1 50%;
  display: flex;
  overflow: hidden;
  aspect-ratio: 2/1;
}

.card__image img {
  display: block;

  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
  object-position: center;
}

.card__content {
  flex: 0 1 50%;
  padding: 3rem 3rem;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  gap: 1rem;
}

.title {
  font-size: var(--text-big);
  /* font-style: italic; */
  /* font-weight: 700; */
  width: fit-content;
  display: inline;
  line-height: 1.5;

  /* word-break: break-all; */
  word-wrap: break-word;
  /* hyphens: auto; */

  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */

  /* background-color: var(--color-blue); */
}

@media (max-width: 650px) {
  .card {
    flex-direction: column;
  }

  .card:nth-child(2n) .card__image {
    order: unset;
  }
}

.stacking-context {
  position: static;
  z-index: 0;
}

/* .button-group {
  position: relative;
  z-index: 0;

  cursor: pointer;
} */

/* .button-group::after {
  content: "";
  background: linear-gradient(to right, black, rgba(0, 0, 0));

  position: absolute;
  inset: 0;

  border-radius: var(--border-radius);
  transform: translate(5px, 5px);

  transition: transform 0.3s ease;

  z-index: -1;
} */

/* .button {
  border: var(--border-width) solid black;
  border-radius: var(--border-radius);
  background-color: white;
  padding: 0.5rem 2rem;

  font-style: italic;
  font-weight: 700;

  transition: 0.3s ease;
  transition-property: transform;

  cursor: pointer;

  width: 100%;
} */

.button {
  /* display: block; */

  border: var(--border-width) solid black;
  border-radius: var(--border-radius);
  background-color: white;
  padding: 0.5rem 2rem;

  font-style: italic;
  font-weight: 700;

  transition: 0.3s ease;
  transition-property: transform;

  cursor: pointer;

  align-self: stretch;
  text-align: center;
}

.button--center {
  align-self: center;
}

.button--stretch {
  align-self: stretch;
}

.button--no-padding {
  padding: 0.5rem;
}

.button--big {
  padding: 1rem 2rem;
  font-size: 1.2em;
}

/* .button-group:hover .button {
  transform: translate(-5px, -3px);
  transform-origin: center;
} */

/* .button--blue {
  background-color: var(--color-blue);
}

.button-blue:hover {
} */

.button--pink {
  background-color: var(--color-pink);
}

.button--pink:hover {
  background-color: pink;
}

.background {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
}

.background::before {
  content: "";

  background-image: url("./public/Programming.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  position: absolute;
  inset: 0;

  opacity: 0.3;
}

@media (hover: none) {
  .background::before {
    background-attachment: scroll;
  }
}

.call-to-action {
  /* max-width: 800px; */

  display: flex;
  justify-content: center;

  padding-bottom: 2rem;

  position: relative;
}

.call-to-action__arrow {
  height: 20rem;
  /* outline: 1px solid red; */

  display: flex;
  align-items: center;

  flex: 1 1 30%;
}

@media (max-width: 850px) {
  .call-to-action__arrow {
    display: none;
  }
}

.call-to-action__window-group {
  /* min-height: 20rem; */

  height: auto;
  flex: 1 1 800px;
  max-width: 800px;

  display: flex;

  position: relative;
  z-index: 0;
}

@keyframes floating-one {
  0% {
    transform: translate(0, 0) rotate(0.02deg);
  }
  50% {
    transform: translate(0, 1rem) rotate(0.02deg);
  }
  100% {
    transform: translate(0, 0) rotate(0.02deg);
  }
}
@keyframes floating-two {
  0% {
    transform: translate(1rem, 1rem) rotate(0.02deg);
  }
  50% {
    transform: translate(1rem, 2rem) rotate(0.02deg);
  }
  100% {
    transform: translate(1rem, 1rem) rotate(0.02deg);
  }
}
@keyframes floating-three {
  0% {
    transform: translate(2rem, 2rem) rotate(0.02deg);
  }
  50% {
    transform: translate(2rem, 3rem) rotate(0.02deg);
  }
  100% {
    transform: translate(2rem, 2rem) rotate(0.02deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.call-to-action__window {
  flex: 1;

  height: auto;
  display: flex;
  flex-direction: column;

  width: calc(100% - 2rem);
  /* border: var(--border-width) solid black; */
  border-radius: var(--border-radius);

  box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);

  overflow: hidden;
  position: absolute;

  animation-duration: 5s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: ease-in-out;
}

@media (prefers-reduced-motion) {
  .call-to-action__window {
    animation-play-state: paused;
  }
}

.call-to-action__window--stagger-none {
  animation-name: floating-one;
}
.call-to-action__window--stagger-small {
  animation-name: floating-two;
  animation-delay: 1s;
}
.call-to-action__window--stagger-large {
  animation-name: floating-three;
  animation-delay: 2s;
}

.call-to-action__window--translate-little {
  transform: translateX(1rem) translateY(1rem);
}

.call-to-action__window--translate-more {
  transform: translateX(2rem) translateY(2rem);
}

.call-to-action__header {
  border-bottom: var(--border-width) solid black;

  flex: 1 1 0;
  display: flex;
  gap: 16px;
  padding: 8px;

  width: 100%;

  background-color: var(--color-blue);
}

.call-to-action__header-dots {
  height: 24px;
  width: 24px;
  border: var(--border-width) solid black;

  border-radius: 20px;
}

.call-to-action__header-dots--red {
  background: #f85b5b;
}
.call-to-action__header-dots--yellow {
  background: #f9ef00;
}
.call-to-action__header-dots--green {
  background: #02fb73;
}

.call-to-action__body {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  position: relative;
  z-index: 0;
}

.call-to-action__background {
  position: absolute;
  width: 100vw;
  left: 0;

  /* background-color: white;
  background-image: url("./public/Programming.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.call-to-action__body-wrapper {
  min-height: 0px;
  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 3rem;
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);

  border: 1px solid black;

  /* backdrop-filter: ; */
}

/* .call-to-action__body-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.call-to-action__body-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
} */

/* .call-to-action__body-image-wrapper--right {
  right: 0;
} */

.call-to-action__body h1 {
  font-weight: bold;
  font-size: var(--text-big);
  /* font-size: 1.5rem; */
  /* line-height: 1; */

  text-align: center;
  flex-shrink: 0 1 0;

  word-break: keep-all;
  /* background-color: white; */
}

/* footer */

.body__footer {
  background: var(--color-blue);
  border-top: var(--border-width) solid black;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.footer__container {
  flex: 0 1 var(--max-width);
  padding: 0 var(--padding);
}

.text-with-icon {
  width: fit-content;

  display: flex;
  height: 1rem;
  gap: 0.5rem;
  align-items: center;

  position: relative;
}

.text-with-icon:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.text-with-icon img {
  max-height: 100%;
}

/* Article */

.article {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-self: center;

  background-color: white;

  /* border: var(--border-width) solid black; */

  box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.article__content {
  display: flex;
  width: 100%;

  gap: 2rem;
  flex-direction: column;

  align-self: center;

  padding: 6rem 2rem;

  max-width: 75ch;

  line-height: 1.5;

  word-wrap: break-word;
}

@media (max-width: 800px) {
  .article__content {
    padding: 2rem;
  }
}

.article__content a {
  color: var(--color-link);
  font-weight: 700;
}

.article__content a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.article__image-header {
  background-color: green;
  display: flex;

  max-height: 15rem;
  min-height: 10rem;

  overflow: hidden;
}

.article__image-header img {
  display: block;

  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
  object-position: center;
}

/* @media (max-width: ) */

.article__content h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;

  word-wrap: break-word;
}

.article__content h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.article li {
  margin-left: 1rem;
}

.article__content-image-with-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.article__content-image-with-text p,
.article__content-image-with-text a {
  align-self: flex-end;
  text-align: end;
}

.article__content-image {
  display: flex;

  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  /* border: var(--border-width) solid black; */

  box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
}

.article__content-image img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

aside {
  padding: 1rem;
  background-color: var(--color-info);
  border-width: 1px;
  border-color: black;
  border-style: solid;

  border-radius: var(--border-radius);
}

.aside--danger {
  background-color: var(--color-danger);
}

.aside--warning {
  background-color: var(--color-warning);
}

.aside--success {
  background-color: var(--color-success);
}

/* sources */

.sources ul {
  list-style-type: circle;
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  5% {
    background-color: yellow;
  }
  100% {
    background-color: var(--color-warning);
  }
}

.sources li {
  /* margin-left: 2rem; */
  padding-bottom: 1rem;

  animation-name: flash;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-play-state: paused;
}

.sources li p {
  padding-left: 2rem;
  text-indent: -2rem;

  word-wrap: break-word;
  hyphens: auto;
}

.sources :target {
  font-weight: 700;
  background-color: var(--color-warning);

  list-style-type: disc;
  border-radius: var(--border-radius);
  animation-play-state: running;
}

/* about */

.about__person {
  margin: 0 1rem;
  /* border: var(--border-width) solid black; */
  border-radius: var(--border-radius);

  box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px var(--border-width) rgba(0, 0, 0);

  flex: 1 1 250px;
  max-width: 300px;

  transition: all 0.3s ease;

  overflow: hidden;
}

@media (prefers-reduced-motion) {
  .about__person {
    transition-duration: 0s;
  }
}

.about__person--empty {
  height: 0;
  box-shadow: none;
}

.person__portrait {
  aspect-ratio: 1/1;

  /* max-width: 400px; */

  background: var(--color-pink);

  transform-origin: center;

  transition: transform 0.3s ease;

  overflow: hidden;

  position: relative;
}

.person__portrait img {
  display: block;

  position: absolute;

  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
  object-position: center;

  /* filter: grayscale(1); */

  transition: all 0.3s ease;
}

.person__text {
  padding: 1rem;

  border-top: var(--border-width) solid black;

  background-color: var(--color-background);
}

.color-overlay {
  position: absolute;

  inset: 0;

  background-color: rgba(0, 0, 255, 50%);

  opacity: 0.3;

  transition: all 0.3s ease;
}

.color-overlay--pink {
  background-color: var(--color-pink);
}

.color-overlay--blue {
  background-color: var(--color-blue);
}

.color-overlay--green {
  background-color: var(--color-background);
}

.person__text--pink {
  background-color: var(--color-pink);
}

.person__text--blue {
  background-color: var(--color-blue);
}

.person__text--green {
  background-color: var(--color-background);
}

.about__person:hover {
  transform: rotateZ(0) scale(1.2);
}

@media (prefers-reduced-motion) {
  .about__person:hover {
    transform: none;
  }
}

.about__person:hover .person__portrait img {
  filter: grayscale(0);
}

.about__person:hover .color-overlay {
  opacity: 0;
}
